<header>
    <img class="logo" src="/images/Logos/Logo Fantasy Book.png" width="80px" height="80px" alt="logo">
    <input type="text" placeholder="¿Que busca?">
    <div class="links">
        <a href="/">Inicio</a>
        <a href="products">Productos</a>
        <a href="/auth/Login/">Login</a>
        <a href="/auth/register/">Registrarse</a>
        <a href="/cart/">🛒</a>
    </div>
</header>