<header>
    <img class="logo" src="/images/Logos/Logo Fantasy Book.png" width="80px" height="80px" alt="logo">
    <form action="/products/search" method="GET" class="search-container">
        <input type="text" name="query" placeholder="Buscar libros..." required>
        <button type="submit">Buscar</button>
    </form>
    <nav>
        <ul class="nav-links">
            <li><a href="/">Inicio</a></li>
            <li><a href="/products">Libros</a></li>

            <li class="dropdown">
                <button class="dropbtn">
                    <i class="fas fa-user"></i>
                </button>
                <div class="dropdown-content">
                    <a href="/users/profile">Profile</a>
                    <a href="/users/register">Register</a>
                    <a href="/users/login">Login</a>
                </div>
                <li class="cart">
                    <a href="/cart">
                        <i class="fas fa-shopping-cart"></i> 
                    </a>
                </li>
            </li>    
        </ul>
    </nav>
</header>
