<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de Compras</title>
    <link rel="stylesheet" href="/css/productCart.css">
</head>

<body>
    <header>
        <img class="logo" src="/images/Logos/Logo Fantasy Book.png" width="80px" height="80px" alt="logo">
        <h1>Carrito de compra</h1>
        <div>
            <a href="/public/Login/">Login</a>
            <a href="/public/Registro/">Registrarse</a>
        </div>
        <div class="cart">
            <span>🛒</span>
        </div>
    </header>
    <main>
        <div class="product-list">
            <div class="product-item">
                <img src="/images/Harry Potter/Harry potter 1.jpg" alt="Harry potter 1">
                <h2>Harry Potter 1</h2>
                <p>$19.99</p>
                <button class="add-to-cart">Agregar al carrito</button>
            </div>
            <div class="product-item">
                <img src="/images/Harry Potter/Harry potter 1.jpg" alt="Harry potter 2">
                <h2>Harry Potter 2</h2>
                <p>$19.99</p>
                <button class="add-to-cart">Agregar al carrito</button>
            </div>
            <!-- Agrega más productos aquí -->
        </div>

        <div class="cart-summary">
            <h2>Total del carrito</h2>
            <div class="cart-items">
                <div class="cart-item">
                    <span>Harry Potter 1</span>
                    <span>$19.99</span>
                </div>
                <div class="cart-item">
                    <span>Harry Potter 2</span>
                    <span>$19.99</span>
                </div>
            </div>
            <div class="cart-itbms">
                <span>ITBMS (7%):</span>
                <span>$0.00</span>
            </div>

                <div class="cart-total">
                    <span>Total:</span>
                    <span>$00.00</span>

                </div>
                <button class="checkout-btn">Pagar</button>
    </main>
    <footer>
        <img class="logo" src="/images/Logos/Logo Fantasy Book.png" width="80px" height="80px" alt="logo">
        <p>Legal
            <br>
            Términos y condiciones
            <br>
            Política de privacidad
        </p>

        <p>Contactanos:
            <br>
            +507 442-0514
            <br>
            fantasybook@gmail.com
        </p>
    </footer>
</body>

</html>