<%- include('partials/head') %>

    <link rel="stylesheet" href="/css/productCart.css">
</head>

<body>

  <%- include('partials/header') %>

    <main>
        <div class="product-list">
            <div class="product-item">
                <img src="/images/Harry Potter/Harry potter 1.jpg" alt="Harry potter 1">
                <h2>Harry Potter 1</h2>
                <p>$19.99</p>
                <button class="add-to-cart">Agregar al carrito</button>
            </div>
            <div class="product-item">
                <img src="/images/Harry Potter/Harry potter 1.jpg" alt="Harry potter 2">
                <h2>Harry Potter 2</h2>
                <p>$19.99</p>
                <button class="add-to-cart">Agregar al carrito</button>
            </div>
            <!-- Agrega más productos aquí -->
        </div>

        <div class="cart-summary">
            <h2>Total del carrito</h2>
            <div class="cart-items">
                <div class="cart-item">
                    <span>Harry Potter 1</span>
                    <span>$19.99</span>
                </div>
                <div class="cart-item">
                    <span>Harry Potter 2</span>
                    <span>$19.99</span>
                </div>
            </div>
            <div class="cart-itbms">
                <span>ITBMS (7%):</span>
                <span>$0.00</span>
            </div>

                <div class="cart-total">
                    <span>Total:</span>
                    <span>$00.00</span>

                </div>
                <button class="checkout-btn">Pagar</button>
    </main>

    <%- include('partials/footer') %>
    
</body>
</html>