<%- include('partials/head') %>

    <link rel="stylesheet" href="/css/productCart.css">
</head>
<body>
    <%- include('partials/header') %>

    <main>
        <div class="cart-items">
        </div>
        <div class="cart-summary">
            <h2>Total del carrito</h2>
            <div class="cart-itbms">
                <span>ITBMS (7%):</span>
                <span id="itbms">$0.00</span>
            </div>
            <div class="cart-total">
                <span>Total:</span>
                <span id="total">$0.00</span>
            </div>
            <button class="checkout-btn">Pagar</button>
            <button class="empty-cart-btn">Vaciar carrito</button>
        </div>
        
    </main>

    <%- include('partials/footer') %>

    <script src="/javascripts/addCart.js" defer></script>
</body>
</html>
