<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap"
        rel="stylesheet">
      <link rel="shortcut icon" href="/images/Logos/Logo Fantasy Book.png" type="image/x-icon">
</head>

<body>
    <header>
        <img class="logo" src="/images/Logos/Logo Fantasy Book.png" width="80px" height="80px" alt="logo">
        <input type="text" placeholder="쯈ue busca?">
        <div>
            <a href="/public/Login/">Login</a>
            <a href="/public/Registro/">Registrarse</a>
        </div>
        <div class="cart">
            <span>游</span>
        </div>
    </header>

    <div>
        <img class="banner" src="/images/Banner.png" alt="banner">
    </div>

    <p class="p-principal">
        Ya seas un veterano del g칠nero o un aventurero curioso en busca de su pr칩xima gran lectura,
        Fantasy Books est치 aqu칤 para guiarte en tu viaje a trav칠s de las p치ginas de la fantas칤a.
    </p>
    <main>
        <h2 class="seccion-libros">Harry Potter</h2>
        <section>
            <article>
                <img src="/images/Harry Potter/Harry potter 1.jpg" alt="" class="product-img">
                <div class="libro-precio">
                    <p>Harry Potter 1</p>
                    <hr>
                    <p>19.99</p>
                    <button class="a침adir-carrito-btn">
                        A침adir al carrito
                    </button>
            </article>
            <article>
                <img src="/images/Harry Potter/Harry potter 2.jpg" alt="" class="product-img">
                <div class="libro-precio">
                    <p>Harry Potter 2</p>
                    <hr>
                    <p>19.99</p>
                    <button class="a침adir-carrito-btn">
                        A침adir al carrito
                    </button>
            </article>
            <article>
                <img src="/images//Harry Potter/Harry potter 3.jpg" alt="" class="product-img">
                <div class="libro-precio">
                    <p>Harry Potter 3</p>
                    <hr>
                    <p>19.99</p>
                    <button class="a침adir-carrito-btn">
                        A침adir al carrito
                    </button>
            </article>
            <article>
                <img src="/images/Harry Potter/Harry potter 4.gif" alt="" class="product-img">
                <div class="libro-precio">
                    <p>Harry Potter 4</p>
                    <hr>
                    <p>19.99</p>
                    <button class="a침adir-carrito-btn">
                        A침adir al carrito
                    </button>
            </article>
            <article>
                <img src="/images/Harry Potter/Harry potter 5.jpg" alt="" class="product-img">
                <div class="libro-precio">
                    <p>Harry Potter 5</p>
                    <hr>
                    <p>19.99</p>
                    <button class="a침adir-carrito-btn">
                        A침adir al carrito
                    </button>
            </article>
        </section>

        <!-- Segunda seccion -->
        <h2 class="seccion-libros">Las Cr칩nicas de Narnia</h2>
        <section>
            <article>
                <img src="/images/Las Cr칩nicas de Narnia/Las cronicas de narnia 1.jpg" alt=""
                    class="product-img">
                <div class="libro-precio">
                    <p>Narnia 1</p>
                    <hr>
                    <p>19.99</p>
                    <button class="a침adir-carrito-btn">
                        A침adir al carrito
                    </button>
            </article>
            <article>
                <img src="/images/Las Cr칩nicas de Narnia/Las cronicas de narnia 2.jpg" alt=""
                    class="product-img">
                <div class="libro-precio">
                    <p>Narnia 2</p>
                    <hr>
                    <p>19.99</p>
                    <button class="a침adir-carrito-btn">
                        A침adir al carrito
                    </button>
            </article>
            <article>
                <img src="/images/Las Cr칩nicas de Narnia/Las cronicas de narnia 3.jpg" alt=""
                    class="product-img">
                <div class="libro-precio">
                    <p>Narnia 3</p>
                    <hr>
                    <p>19.99</p>
                    <button class="a침adir-carrito-btn">
                        A침adir al carrito
                    </button>
            </article>
            <article>
                <img src="/images/Las Cr칩nicas de Narnia/Las cronicas de narnia 4.jpg" alt=""
                    class="product-img">
                <div class="libro-precio">
                    <p>Narnia 4</p>
                    <hr>
                    <p>19.99</p>
                    <button class="a침adir-carrito-btn">
                        A침adir al carrito
                    </button>
            </article>
            <article>
                <img src="/images/Las Cr칩nicas de Narnia/Las cronicas de narnia 5.jpg" alt=""
                    class="product-img">
                <div class="libro-precio">
                    <p>Narnia 5</p>
                    <hr>
                    <p>19.99</p>
                    <button class="a침adir-carrito-btn">
                        A침adir al carrito
                    </button>
            </article>
        </section>

        <!-- Tercera seccion -->
        <h2 class="seccion-libros">Alicia en el Pa칤s de las Maravillas</h2>
        <section>
            <article>
                <img src="/images/Alicia en el Pa칤s de las Maravillas/Alicia en el pais de la maravillas 1.jpeg"
                    alt="" class="product-img">
                <div class="libro-precio">
                    <p>Alicia 1</p>
                    <hr>
                    <p>19.99</p>
                    <button class="a침adir-carrito-btn">
                        A침adir al carrito
                    </button>
            </article>
            <article>
                <img src="/images/Alicia en el Pa칤s de las Maravillas/Alicia en el pais de la maravillas 2.webp"
                    alt="" class="product-img">
                <div class="libro-precio">
                    <p>Alicia 2</p>
                    <hr>
                    <p>19.99</p>
                    <button class="a침adir-carrito-btn">
                        A침adir al carrito
                    </button>
            </article>
            <article>
                <img src="/images/Alicia en el Pa칤s de las Maravillas/Alicia en el pais de la maravillas 3.jpg"
                    alt="" class="product-img">
                <div class="libro-precio">
                    <p>Alicia 3</p>
                    <hr>
                    <p>19.99</p>
                    <button class="a침adir-carrito-btn">
                        A침adir al carrito
                    </button>
            </article>
            <article>
                <img src="/images/Alicia en el Pa칤s de las Maravillas/Alicia en el pais de la maravillas 4.jpg"
                    alt="" class="product-img">
                <div class="libro-precio">
                    <p>Alicia 4</p>
                    <hr>
                    <p>19.99</p>
                    <button class="a침adir-carrito-btn">
                        A침adir al carrito
                    </button>
            </article>
        </section>
        <!-- Cuarta seccion -->
        <h2 class="seccion-libros">Peter pan</h2>
        <section>
            <article>
                <img src="/images/Peter Pan/Peter pan 1.jpg" alt="" class="product-img">
                <div class="libro-precio">
                    <p>Peter pan 1</p>
                    <hr>
                    <p>19.99</p>
                    <button class="a침adir-carrito-btn">
                        A침adir al carrito
                    </button>
            </article>
            <article>
                <img src="/images/Peter Pan/Peter pan 2.png" alt="" class="product-img">
                <div class="libro-precio">
                    <p>Peter pan 2</p>
                    <hr>
                    <p>19.99</p>
                    <button class="a침adir-carrito-btn">
                        A침adir al carrito
                    </button>
            </article>
            <article>
                <img src="/images/Peter Pan/Peter pan 3.jpg" alt="" class="product-img">
                <div class="libro-precio">
                    <p>Peter pan 3</p>
                    <hr>
                    <p>19.99</p>
                    <button class="a침adir-carrito-btn">
                        A침adir al carrito
                    </button>
            </article>
            <article>
                <img src="/images/Peter Pan/Peter pan 4.jpg" alt="" class="product-img">
                <div class="libro-precio">
                    <p>Peter pan 4</p>
                    <hr>
                    <p>19.99</p>
                    <button class="a침adir-carrito-btn">
                        A침adir al carrito
                    </button>
            </article>

        </section>

        <!-- Quinta seccion -->
        <h2 class="seccion-libros">El se침or de los anillos</h2>
        <section>
            <article>
                <img src="/images/El se침or de los anillos/El se침or de los anillos 1.webp" alt=""
                    class="product-img">
                <div class="libro-precio">
                    <p>El se침or de los anillos 1</p>
                    <hr>
                    <p>19.99</p>
                    <button class="a침adir-carrito-btn">
                        A침adir al carrito
                    </button>
            </article>
            <article>
                <img src="/images/El se침or de los anillos/El se침or de los anillos 2.webp" alt=""
                    class="product-img">
                <div class="libro-precio">
                    <p>El se침or de los anillos 2</p>
                    <hr>
                    <p>19.99</p>
                    <button class="a침adir-carrito-btn">
                        A침adir al carrito
                    </button>
            </article>
            <article>
                <img src="/images/El se침or de los anillos/El se침or de los anillos 3.webp" alt=""
                    class="product-img">
                <div class="libro-precio">
                    <p>El se침or de los anillos 3</p>
                    <hr>
                    <p>19.99</p>
                    <button class="a침adir-carrito-btn">
                        A침adir al carrito
                    </button>
            </article>
        </section>

        <div class="quienes-somos">
            <h1>쯈ui칠nes somos?</h1>

            <p>Fantasy Books es un refugio para todos aquellos que creen en la magia de las palabras y los mundos
                m치s all치 de lo visible. Nacimos del amor por la literatura fant치stica, por las historias que nos
                transportan
                a reinos lejanos, donde la imaginaci칩n no tiene l칤mites y cada p치gina es un portal a aventuras 칠picas.
            </p>
            <br>
            <p>Somos apasionados lectores y coleccionistas de los m치s grandes relatos de fantas칤a, desde los cl치sicos
                que forjaron el g칠nero hasta las nuevas voces que est치n redefiniendo sus fronteras.
                Nuestro objetivo es compartir con nuestros lectores la maravilla y el asombro que sentimos al explorar
                tierras misteriosas, enfrentarnos a criaturas m칤ticas y descubrir h칠roes inesperados.
            </p>
            <br>
            <p>
                En Fantasy Books, creemos que los libros son m치s que simples historias: son viajes, experiencias y,
                sobre todo, magia pura. Queremos ser el puente que te conecta con los mundos que siempre has
                so침ado, ofreci칠ndote una cuidada selecci칩n de libros que despierten tu imaginaci칩n
                y te inviten a so침ar despierto.
            </p>

        </div>
    </main>

    <footer>
        <img class="logo" src="/images/Logos/Logo Fantasy Book.png" width="80px" height="80px" alt="logo">
        <p>Legal
            <br>
            T칠rminos y condiciones
            <br>
            Pol칤tica de privacidad
        </p>

        <p>Contactanos:
            <br>
            +507 442-0514
            <br>
            fantasybook@gmail.com
        </p>
    </footer>
</body>

</html>