<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <title>Login</title>
</head>

<body>

    <div class="container">
        <h1>Iniciar Sección</h1>
        <input type="email" placeholder="Correo" required> 
        <input type="password" placeholder="Contraseña" required > 

        <p>Recordar <input class="checkbox-btn" type="checkbox"></p> 
            

             <button>Iniciar Sección</button>
    </div>
</body>
</html>