<%- include('partials/head') %>

    <link rel="stylesheet" href="/css/register.css">
    <title>Registro</title>
</head>

<body>

    <%- include('partials/header') %>

    <div class="container">
        <h1>Crear una cuenta</h1>
        <input class="input-registo" type="text" placeholder="Nombre" required> 
        <input class="input-registo" type="email" placeholder="Correo" required> 
        <input class="input-registo" type="password" placeholder="Contraseña" required > 

        <label for="pais">Selecciona tu pais:
            <select name="pais" id="pais" required>
            <option value="panama">Panamá</option>
            <option value="colombia">Colombia</option>
            <option value="costa Rica">Costa Rica</option>
            <option value="argentina">Argentina</option>
            <option value="mexico">Mexico</option>
            <option value="guatemala">Guatemala</option>
            <option value="ecuador">Ecuador</option>
        </select></label>
      

            <p>Condiciones:</p>
            <p>Acepto las condiciones del sitio</p> <input class="checkbox" type="checkbox">
            

             <button>Crear cuenta</button>
    </div>

    <%- include('partials/footer') %>

</body>
</html>