* {
  font-family:Georgia, 'Times New Roman', Times, serif;
  padding: 0;
  margin: 0px; 
}


.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}


.search-container input[type="text"] {
  width: 300px;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px 0 0 5px;
  font-size: 16px;
  transition: border-color 0.3s ease;
  outline: none;
}

.search-container input[type="text"]:focus {
  border-color: #007bff;
}


.search-container button {
  padding: 10px 20px;
  border: 2px solid #e7e5e5;
  background-color: #029424;
  color: white;
  border-radius: 0 5px 5px 0;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  margin-left: -1px;
}

.search-container button:hover {
  background-color: #016d1a;
}


.btn-search{
  width: 20%;
  height: 40px;
  font-size: 12px;
  margin-left: 10px;
}

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
    background-color: rgb(72, 132, 155);
    height: 90px;
  }
    
    nav {
      padding: 10px;
      transition: background-color .5s ease;
    }
    

    .nav-links {
      list-style-type: none;
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: space-between; 
      align-items: center; 
    }
    
    .nav-links li {
      position: relative;
    }
    
    .nav-links a {
      color: white;
      text-decoration: none;
      padding: 12px 16px;
      display: block;
      transition: background-color 0.4s ease;
    }
    
    .nav-links a:hover {
      background-color: rgba(81, 145, 173, 0.61);
      border-radius: 4px;
    }
    
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #ffffff;
      min-width: 160px;
      box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
      z-index: 1;
      border-radius: 4px;
      padding: 0;
      margin: 0;
    }
    
    .dropdown-content a {
      color: #333;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      border-bottom: 1px solid #ddd;
    }
    
    .dropdown-content a:hover {
      background-color: #f1f1f1;
    }
    
    .dropdown:hover .dropdown-content {
      display: block;
    }
    
    .dropbtn {
      background-color: rgba(75, 154, 185, 0.589);
      color: white; 
      padding: 10px 20px;
      font-size: 16px;
      border: none;
      cursor: pointer;
      border-radius: 4px;
      margin-left: 10px;
      display: flex;
      align-items: center;
      transition: background-color 0.5s ease;
    }
    
    .dropbtn:hover {
      background-color: rgba(98, 174, 207, 0.568);
    }

    .cart a {
      color: white;
      text-decoration: none;
      padding: 12px 16px;
      display: block;
      font-size: 18px;
      margin-left: 10px;
    }
    
    .cart a:hover {
      background-color: rgba(81, 145, 173, 0.61);
      border-radius: 4px;
    }


  .container {
    width: 70%;
    max-width: 500px;
    margin: 2rem auto;
    padding: 2rem;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    margin-bottom: 1.5rem;
    background: linear-gradient(to right, #4B0000, #8B4500, #8B7500, #006400, #00008B, #2F004F, #4B0082);
    -webkit-background-clip: text;
    color: transparent;
  }
  
  
  .input[type="text"], 
  .input[type="email"], 
  .input[type="password"], 
  .input[type="file"], 
  select {
    width: 95%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #a09f9f;
    border-radius: 4px;
  }
  
  .btn-inicio {
    width: 100%;
    padding: 0.75rem;
    background-color: #029424;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 25px;
    transition: background-color 0.3s ease;
  }
  
  .btn-inicio:hover {
     background-color: #016d1a;
  }
  
  .checkbox-label {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .checkbox-label input[type="checkbox"] {
    margin-right: 0.5rem;
  }
  
  .error-message {
    color: red;
    margin-bottom: 1rem;
    text-align: center;
  }
  
  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: space-around;
    align-items: center;
    background-color: rgb(72, 132, 155);
    font-size: 17px;
    color: rgb(230, 230, 230);
    margin-top: 100px;
  }

  .terms {
    display: flex;
    align-items: center; 
  }
  
  .terms input {
    margin-right: 8px; 
  }

  .error-message {
    color: red;
    border-radius: 5px;
  }