* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0;
    margin: 1px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: space-around;
    align-items: center;
    background-color: rgb(72, 132, 155);
    height: 90px;
}

input {
    width: 40%;
    height: 30%;
    border-radius: 15px;
}


a {
    font-size: 20px;
    color: rgb(247, 216, 216);
    padding-left: 30px;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.cart {
    font-size: 24px;
    cursor: pointer;
}


.container {
    display: flex;
    flex-direction: column;
    background-color: rgb(212, 210, 210);
    width: 400px;
    border-radius: 20px;
    margin: 40px auto;
    box-shadow: 0 5px 15px 1px;
}

.input-registo {
    width: 80%;
    font-size: 23px;
    border-radius: 10px;
    margin: 12px auto;
}

::placeholder {
    font-size: 15px;
    padding-left: 7px;
}


label {
    font-size: 20px;
    padding: 20px;

}

select {
    width: 100px;
    margin: auto;
}




h1 {
    text-align: center;
    padding: 20px;
}

p {
    font-size: 20px;
    padding-top: 10px;
    padding-left: 40px;
}



button {
    font-size: 16px;
    margin: 40px auto;
    padding: 8px 30px 8px 30px;
    border-radius: 20px;
    border: none;
    color: white;
    cursor: pointer;
    background-color: #28a745;
    transition: .5s all ease;
}

button:hover {
    background-color: #218838;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: space-around;
    align-items: center;
    background-color: rgb(72, 132, 155);
    font-size: 17px;
    color: rgb(230, 230, 230);
    margin-top: 100px;
  }