* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
    background-color: rgb(72, 132, 155);
    height: 90px;
  }
  
  
  
  .buscador {
    width: 250px;
    height: 30px;
    border-radius: 10px;
    padding-left: 3px;
    }
    
  
  
    nav {
      padding: 10px;
    }
    
    .nav-links {
      list-style-type: none;
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: space-between; 
      align-items: center; 
    }
    
    .nav-links li {
      position: relative;
    }
    
    .nav-links a {
      color: white;
      text-decoration: none;
      padding: 12px 16px;
      display: block;
      transition: background-color 0.4s ease;
    }
    
    .nav-links a:hover {
      background-color: rgba(81, 145, 173, 0.61);
      border-radius: 4px;
    }
    
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #ffffff;
      min-width: 160px;
      box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
      z-index: 1;
      border-radius: 4px;
      padding: 0;
      margin: 0;
    }
    
    .dropdown-content a {
      color: #333;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      border-bottom: 1px solid #ddd;
    }
    
    .dropdown-content a:hover {
      background-color: #f1f1f1;
    }
    
    .dropdown:hover .dropdown-content {
      display: block;
    }
    
    .dropbtn {
      background-color: rgba(75, 154, 185, 0.589);
      color: white; 
      padding: 10px 20px;
      font-size: 16px;
      border: none;
      cursor: pointer;
      border-radius: 4px;
      margin-left: 10px;
      display: flex;
      align-items: center;
      transition: background-color 0.5s ease;
    }
    
    .dropbtn:hover {
      background-color: rgba(98, 174, 207, 0.568);
    }
    
    .cart a {
      color: white;
      text-decoration: none;
      padding: 12px 16px;
      display: block;
      font-size: 18px;
    }
    
    .cart a:hover {
      background-color: rgba(81, 145, 173, 0.61);
      border-radius: 4px;
    }
    
  
      
.cart-summary {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 1;
}

.cart-summary h2 {
    margin-bottom: 20px;
}

.cart-items {
    margin-bottom: 20px;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #b9b6b6;
}

.cart-itbms {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    border-bottom: 1px solid #b9b6b6;
    margin-bottom: 20px;


}

.cart-total {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    margin-bottom: 20px;
}

.checkout-btn {
    background-color: #029424;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-bottom: 20px;
    transition: 0.3s all ease-in-out;
}

.checkout-btn:hover {
    background-color: #016d1a;
}

.empty-cart-btn{
    background-color: #d31414;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    transition: 0.3s all ease-in-out;
}

.empty-cart-btn:hover{
    background-color: #b31a1a;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: space-around;
    align-items: center;
    background-color: rgb(72, 132, 155);
    font-size: 17px;
    color: rgb(230, 230, 230);
    margin-top: 100px;
}