/* General reset and layout */
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0;
    margin: 0px;
    background-color: #f4f4f4;
}

.search{

}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: space-around;
    align-items: center;
    background-color: rgb(72, 132, 155);
    height: 90px;
  }

  .buscador {
    width: 250px;
    height: 30px;
    border-radius: 10px;
    padding-left: 10px;
    }
    
  .links a {
    font-size: 18px;
    color: rgb(247, 216, 216);
    padding-left: 30px;
    text-decoration: none;
  }
  
  
  .cart{
    font-size: 24px;
    cursor: pointer;
  }
  
  a{
    color: black;
    text-decoration: none;
  }

h1 {
    text-align: center;
    color: #333;
    margin-top: 20px;
}


form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin: 10px 0 5px;
    color: #555;
}

input[type="text"],
input[type="number"],
textarea,
input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #999999;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
}

button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}


footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: space-around;
    align-items: center;
    background-color: rgb(72, 132, 155);
    font-size: 17px;
    color: rgb(230, 230, 230);
    margin-top: 100px;
}