* {
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 0;
  margin: 0;
}


body {
  display: flex;
  flex-direction: column; 
  min-height: 100vh; 
  margin: 0; 
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(72, 132, 155);
  height: 90px;
  padding: 0 20px;
}

.logo {
  width: 80px;
  height: 80px;
}


.search-container {
  display: flex;
  align-items: center;
  margin: 20px;
}

.search-container input[type="text"] {
  width: 300px;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px 0 0 5px;
  font-size: 16px;
  transition: border-color 0.3s ease;
  outline: none;
}

.search-container input[type="text"]:focus {
  border-color: #007bff;
}

.search-container button {
  padding: 10px 20px;
  border: 2px solid #e7e5e5;
  background-color: #029424;
  color: white;
  border-radius: 0 5px 5px 0;
  font-size: 16px;
  cursor: pointer;
  margin-left: -1px;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.search-container button:hover {
  background-color: #016d1a;
}

/* Navegación */
.nav-links, .mobile-nav-links {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.nav-links a, .mobile-nav-links a {
  color: white;
  text-decoration: none;
  padding: 12px 16px;
  display: block;
  transition: background-color 0.4s ease;
}

.nav-links a:hover, .mobile-nav-links a:hover {
  background-color: rgba(81, 145, 173, 0.61);
  border-radius: 4px;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 4px;
}

.dropdown-content a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-bottom: 1px solid #ddd;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropbtn {
  background-color: rgba(75, 154, 185, 0.589);
  color: white; 
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  transition: background-color 0.5s ease;
}

.cart a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  margin-left: 10px;
}

/* Menú hamburguesa */
.hamburger {
  display: none;
  cursor: pointer;
}

.hamburger i {
  font-size: 24px;
  color: white;
}

.mobile-nav-links {
  display: none;
  flex-direction: column;
  background-color: rgb(72, 132, 155);
  position: absolute;
  top: 90px;
  right: 0;
  width: 150px;
  padding: 10px;
}

.mobile-nav-links.active {
  display: flex;
}


  h1{
    margin: 10px;
    text-align: center;
    background: linear-gradient(to right, #4B0000, #8B4500, #8B7500, #006400, #00008B, #2F004F, #4B0082);
    -webkit-background-clip: text;
    color: transparent;
  }

  .mensaje-intro{
    text-align: center;
    font-size: 20px;
    margin: 2px auto;
    padding: 0 15%;
  }
  

  .cart-container {
    max-width: 800px;
    margin: 10px auto;
    flex: 1;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  }
  
  .cart-item {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
  }
  
  .cart-item-image {
    width: 10%;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  .cart-item-details {
    flex-grow: 1;
    margin-right: 20px;
  }

  .cantidad-input{
       width: 30px;
  }
  
  .remove-form {
    margin-left: auto;
  }
  
  .clear-cart-form {
    margin-top: 20px;
  }

  .clear{
    padding: 8px;
    border:none;
    background-color: rgb(50, 100, 207);
    cursor: pointer;
    color: white;
    border-radius: 5px;
    font-size: 15px;
    transition: all .5s ease;
  }

  .clear:hover{
    background-color: rgb(47, 86, 170);
  }
  
  .cart-summary {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
    text-align: right;
  }
  
  .cart-summary h2 {
    margin-bottom: 10px;
  }
  
  .cart-summary div {
    margin-bottom: 5px;
  }
  
  .checkout-btn {
    background-color: #029424;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.3s all ease-in-out;
  }
  
  .checkout-btn:hover {
    background-color: #016d1a;
  }

  .btn-delete{
    color: white;
    background-color: #d31414;
    font-size: 14px;
    border: none;
    padding: 6px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    transition: 0.3s all ease-in-out;
  }
  
  .btn-delete:hover{
    background-color: #b31a1a;
  }

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: space-around;
  align-items: center;
  background-color: rgb(72, 132, 155);
  font-size: 17px;
  color: rgb(230, 230, 230);
  margin-top: 100px;
}


@media (max-width: 866px) {
  .hamburger {
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
  }

  .nav-links {
    display: none;
  }

  .nav-links.active {
    display: flex;
    flex-direction: column;
    background-color: rgb(72, 132, 155);
    position: absolute;
    top: 90px;
    right: 0;
    width: 150px;
    max-height: 70vh;
    overflow-y: auto;
    transition: transform 0.5s ease-in-out;
  }

  .search-container {
    width: 60%;
  }

  .cart-container{
    width: 80%;
  }

  h1{
    font-size: 23px
  }
  
  .mensaje-intro{
    font-size: 16px;
  }

  .cart-item .cart-item-image{
    min-width: 15%;
  }
  footer {
    font-size: 14px;
    margin-top: 35px;
  }
}

@media (max-width: 510px) {
  .logo {
    width: 60px;
    height: 60px;
  }

  .search-container input {
    height: 10px;
  }

  .search-container button {
    padding: 8px 10px;
    font-size: 12px;
  }

  .banner {
    display: none;
  }

  h1{
    font-size: 18px;
  }
  
  .mensaje-intro{
    font-size: 14px;
    padding: 0px;
  }

  .cart-item .cart-item-image{
    min-width: 18%;
  }

  .cart-summary h2{
    font-size: 18px;
  }
  footer {
    font-size: 11px;
    margin-top: 35px;
  }
}
