* {
  font-family:Georgia, 'Times New Roman', Times, serif;
  padding: 0;
  margin: 0px; 
}

body {
  line-height: 1.6;
  color: #333;
  background-color: #f4f4f4;
}


header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: space-around;
  align-items: center;
  background-color: rgb(72, 132, 155);
  height: 90px;
}


.input-search{
width: 60%;
height: 50%;
}

.search{
  width: 50%;
  }
  
  .btn-search{
    width: 15%;
    padding: 0.75rem;
    background-color: #029424;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  


  nav {
    padding: 10px;
  }
  
  .nav-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
  }
  
  .nav-links li {
    position: relative;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
    padding: 12px 16px;
    display: block;
    transition: background-color 0.4s ease;
  }
  
  .nav-links a:hover {
    background-color: rgba(81, 145, 173, 0.61);
    border-radius: 4px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 4px;
    padding: 0;
    margin: 0;
  }
  
  .dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #ddd;
  }
  
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropbtn {
    background-color: rgba(75, 154, 185, 0.589);
    color: white; 
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    transition: background-color 0.5s ease;
  }
  
  .dropbtn:hover {
    background-color: rgba(98, 174, 207, 0.568);
  }
  
  .cart a {
    color: white;
    text-decoration: none;
    padding: 12px 16px;
    display: block;
    font-size: 18px;
  }
  
  .cart a:hover {
    background-color: rgba(81, 145, 173, 0.61);
    border-radius: 4px;
  }
  


.banner {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.p-principal {
  font-size: 20px;
  margin: 20px auto;
  padding: 0 15%;
  text-align: center;
}

main {
  width: 90%;
  margin: 0 auto;
  padding: 20px 0;
}

section {
  display: flex;
  flex-direction:row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 10px;
  gap: 7px;
}


h1{
  margin: 30px;
  text-align: center;
  background: linear-gradient(to right, #4B0000, #8B4500, #8B7500, #006400, #00008B, #2F004F, #4B0082);
  -webkit-background-clip: text;
  color: transparent;
}

.product-img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  cursor: pointer;
}

main {
  width: 90%;
  margin: 0 auto;
  padding: 20px 0;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 180px;
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;

}

article:hover{
  transform: translateY(-10px);
}


.libro-precio {
  font-size: 16px;
  margin-bottom: 10px;
  text-align: center;
}

.añadir-carrito-btn {
  display: block;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  width: 90%;
  color: #fff;
  background-color: #029424;
  padding: 5px;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;;

}
.añadir-carrito-btn:hover{
  background-color: #016d1a;
}

h2{
  font-size: 20px;
  text-align: center;
}

.quienes-somos {
  width: 88%;
  background-color: #fff;
  padding: 20px 70px;
  text-align: center;
  margin: 80px 0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.quienes-somos h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.quienes-somos p {
  font-size: 17px;
  margin-bottom: 5px;
  text-align: justify;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: space-around;
  align-items: center;
  background-color: rgb(72, 132, 155);
  font-size: 17px;
  color: rgb(230, 230, 230);
  margin-top: 100px;
}