* {
  font-family:Georgia, 'Times New Roman', Times, serif;
  padding: 0;
  margin: 0px; 
}

body {
  line-height: 1.6;
  color: #333;
  background-color: #f4f4f4;
}


header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: space-around;
  align-items: center;
  background-color: rgb(72, 132, 155);
  height: 90px;
}


.buscador {
  width: 250px;
  height: 30px;
  border-radius: 10px;
  padding-left: 10px;
  }
  
.links a {
  font-size: 18px;
  color: rgb(247, 216, 216);
  padding-left: 30px;
  text-decoration: none;
}


.cart{
  font-size: 24px;
  cursor: pointer;
}

a{
  color: black;
  text-decoration: none;
}

.banner {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.p-principal {
  font-size: 20px;
  margin: 20px auto;
  padding: 0 15%;
  text-align: center;
}

main {
  width: 90%;
  margin: 0 auto;
  padding: 20px 0;
}

section {
  display: flex;
  flex-direction:row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 10px;
  gap: 7px;
}


.seccion-libros {
  font-size: 30px;
  text-align: center;
  padding-top: 60px;
  color: black;

}

.product-img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  cursor: pointer;
}

main {
  width: 90%;
  margin: 0 auto;
  padding: 20px 0;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 180px;
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;

}

article:hover{
  transform: translateY(-10px);
}


.libro-precio {
  font-size: 18px;
  margin-bottom: 10px;
  text-align: center;
}

.añadir-carrito-btn {
  display: block;
  cursor: pointer;
  text-align: center;
  font-size: 14px;
  width: 90%;
  color: #fff;
  background-color: #28a745;
  padding: 10px;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;;

}
.añadir-carrito-btn:hover{
background-color:  #218838;;
}

h2{
  font-size: 20px;
  text-align: center;
}

.quienes-somos {
  background-color: #fff;
  padding: 40px 15%;
  text-align: center;
  margin: 40px 0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.quienes-somos h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.quienes-somos p {
  font-size: 1.2em;
  line-height: 1.8;
  margin-bottom: 15px;
  text-align: justify;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: space-around;
  align-items: center;
  background-color: rgb(72, 132, 155);
  font-size: 17px;
  color: rgb(230, 230, 230);
  margin-top: 100px;
}