* {
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 0;
  margin: 0;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(72, 132, 155);
  height: 90px;
  padding: 0 20px;
}

.logo {
  width: 80px;
  height: 80px;
}


.search-container {
  display: flex;
  align-items: center;
  margin: 20px;
}

.search-container input[type="text"] {
  width: 300px;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px 0 0 5px;
  font-size: 16px;
  transition: border-color 0.3s ease;
  outline: none;
}

.search-container input[type="text"]:focus {
  border-color: #007bff;
}

.search-container button {
  padding: 10px 20px;
  border: 2px solid #e7e5e5;
  background-color: #029424;
  color: white;
  border-radius: 0 5px 5px 0;
  font-size: 16px;
  cursor: pointer;
  margin-left: -1px;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.search-container button:hover {
  background-color: #016d1a;
}

/* Navegación */
.nav-links, .mobile-nav-links {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.nav-links a, .mobile-nav-links a {
  color: white;
  text-decoration: none;
  padding: 12px 16px;
  display: block;
  transition: background-color 0.4s ease;
}

.nav-links a:hover, .mobile-nav-links a:hover {
  background-color: rgba(81, 145, 173, 0.61);
  border-radius: 4px;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 4px;
}

.dropdown-content a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-bottom: 1px solid #ddd;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropbtn {
  background-color: rgba(75, 154, 185, 0.589);
  color: white; 
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  transition: background-color 0.5s ease;
}

.cart a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  margin-left: 10px;
}

/* Menú hamburguesa */
.hamburger {
  display: none;
  cursor: pointer;
}

.hamburger i {
  font-size: 24px;
  color: white;
}

.mobile-nav-links {
  display: none;
  flex-direction: column;
  background-color: rgb(72, 132, 155);
  position: absolute;
  top: 90px;
  right: 0;
  width: 150px;
  padding: 10px;
}

.mobile-nav-links.active {
  display: flex;
}

.banner {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.p-principal {
  font-size: 22px;
  margin: 20px auto;
  padding: 0 15%;
  text-align: center;
}

h1{
  margin: 20px;
  font-size: 36px;
  text-align: center;
  background: linear-gradient(to right, #4B0000, #8B4500, #8B7500, #006400, #00008B, #2F004F, #4B0082);
  -webkit-background-clip: text;
  color: transparent;
}
main {
  width: 90%;
  margin: 0 auto;
  padding: 20px 0;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 10px;
  gap: 7px;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 180px;
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease-in-out;
}

article:hover {
  transform: translateY(-10px);
}

.product-img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  cursor: pointer;
}

.libro-precio {
  font-size: 16px;
  text-align: center;
  margin-bottom: 10px;
}

.añadir-carrito-btn {
  display: block;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  width: 90%;
  color: white;
  background-color: #029424;
  padding: 5px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.añadir-carrito-btn:hover {
  background-color: #016d1a;
}

.quienes-somos {
  width: 70%;
  background-color: white;
  padding: 50px 70px;
  text-align: center;
  margin: 80px auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.quienes-somos h1 {
  font-size: 36px;
  margin: 10px 0;
}

.quienes-somos p {
  font-size: 17px;
  text-align: justify;
  margin-bottom: 5px;
}


footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(72, 132, 155);
  color: rgb(230, 230, 230);
  font-size: 17px;
  margin-top: 100px;
}

/* Responsivo para pantallas pequeñas */
@media (max-width: 866px) {
  .hamburger {
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
  }

  .nav-links {
    display: none;
  }

  .nav-links.active {
    display: flex;
    flex-direction: column;
    background-color: rgb(72, 132, 155);
    position: absolute;
    top: 90px;
    right: 0;
    width: 150px;
    max-height: 70vh;
    overflow-y: auto;
    transition: transform 0.5s ease-in-out;
  }

  .search-container {
    width: 60%;
  }

  article {
    width: 150px;
  }

  .p-principal {
    font-size: 18px;
    margin: 1px;
    padding: 15px;
  }

  .quienes-somos {
    width: 80%;
    padding: 25px;
  }

  .quienes-somos p{
  font-size: 15px;
  }

  .quienes-somos h1{
    font-size: 22px;
  }

  footer {
    font-size: 14px;
    margin-top: 35px;
  }
}

@media (max-width: 510px) {
  .logo {
    width: 60px;
    height: 60px;
  }

  .search-container input[type="text"] {
    width: 50%;
    height: 10px;
}

.search-container button {
  padding: 8px 10px;
  font-size: 12px;
}


  .banner {
    display: none;
  }

  
  article {
    width: 90px;
  }

  .añadir-carrito-btn{
    font-size: 12px;
    width: 90%;
  }

  .p-principal {
    font-size: 16px;
    margin: 1px;
    padding: 15px;
  }

  h1 {
    font-size: 22px;
  }

  .quienes-somos {
    width: 80%;
    padding: 30px;
  }

  .quienes-somos p{
  font-size: 14px;
  }

  footer {
    font-size: 11px;
    margin-top: 35px;
  }
}
