<%- include('../partials/head') %>

<link rel="stylesheet" href="/css/auth.css">
<title>Registro</title>
</head>

<body>

<%- include('../partials/header') %>

<div class="container">
    <h1>Crear una cuenta</h1>
    <form action="/users/register" method="POST" enctype="multipart/form-data">
        <input type="text" name="name" placeholder="Nombre" required>
        <input type="email" name="email" placeholder="Correo" required>
        <input type="password" name="password" placeholder="Contraseña" required>
        <label for="pais">Selecciona tu país:
          <select name="country" id="pais" required>
            <option value="panama">Panamá</option>
            <option value="colombia">Colombia</option>
            <!-- Añadir más opciones según sea necesario -->
          </select>
        </label>
        <p>Acepto las condiciones del sitio</p> 
        <input type="checkbox" name="conditions" required>
        <label for="profileImage">Sube tu imagen de perfil:</label>
        <input type="file" name="profileImage" id="profileImage">
        <button type="submit">Crear cuenta</button>
      </form>
</div>

<%- include('../partials/footer') %>

</body>
</html>
