<%- include('../partials/head') %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/categories.css"> 
</head>
<body>

    <%- include('../partials/header') %>
<div class="category-container">
    <h1>Categorías</h1>
    <ul>
        <% categories.forEach(category => { %>
            <li><%= category.name %></li>
        <% }); %>
    </ul>
</div>


    <%- include('../partials/footer') %>
</body>
</html>
