<%- include('../partials/head') %>

<link rel="stylesheet" href="/css/product-form.css">

<%- include('../partials/header') %>

<body>
    <h1>Crear Nuevo Producto</h1>
    <form action="/products" method="POST" enctype="multipart/form-data">
        <label for="name">Nombre del Producto:</label>
        <input type="text" id="name" name="name" required>

        <label for="description">Descripción:</label>
        <textarea id="description" name="description" required></textarea>

        <label for="image">Imagen:</label>
        <input type="file" id="image" name="image" accept="image/*" required>
       
        <label for="category">Categoría:</label>
        <input type="text" id="category" name="category" required>

        <label for="price">Precio:</label>
        <input type="number" id="price" name="price" step="0.01" required>

        <button type="submit">Guardar Producto</button>
    </form>
    <a href="/products">Volver</a>
    <%- include('../partials/footer') %>
</body>
</html>
